<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <AppConfig>
        <add key="Show FPS" value=true/>
    </AppConfig>
    <KBMConfig>
        <add key="Ability1" value="q"/>
        <add key="Ability2" value="w"/>
        <add key="Ability3" value="e"/>
        <add key="Ability4" value="r"/>
        <add key="Path" value="MOUSE_BUTTON_RIGHT"/>
        <add key="Attack Move" value="a"/>
        <add key="Select" value="MOUSE_BUTTON_LEFT"/>
    </KBMConfig>
</configuration>